.container {
    display: inline-flex;
    border-radius: 10px;
    border: 1px solid rgb(212, 242, 251);
    overflow: hidden;
}
.icon {
    width: 32px;
    height: 24px;
}
.searchBox {
    border: 0;
    flex: 1;
}
.searchButton {
    color: rgb(17, 135, 239);
    border: 0;
    padding: 5px;
    border-radius: 5px;
}